body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* HOME */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, #0a0a0a, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.home-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  z-index: 5;
}

.C {
  color: #ecff43;
}

.o {
  color: #ff5a44;
}

.l {
  color: #367cff;
}

.start-button p {
  margin: 2px;
  padding: 5px;
  font-size: 14px;
  font-family: "Press Start 2P", cursive;
  animation: parpadeo 1s infinite;
}

.start-button {
  margin-top: 1rem;
  background: transparent;
  border: 2px solid #e2e2e2ef;
  color: #ffffff;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 5;
}

.start-button:hover {
  border: 2px solid #cacaca;
  background: #ffffff;
  color: #000;
}

/* ESTADO LUEGO DE OPRIMIR BOTÓN START */
.start-button.stop-blink {
  background: #ffffff;
  color:#000;
  p {
  animation: none;
  }
}

/* ANIMACIÓN AROS HOME*/
.rings {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.ring-yellow {
  border-color: #f1c40f;
}
.ring-red {
  border-color: #e74c3c;
}
.ring-blue {
  border-color: #3498db;
}

.rings.active .ring {
  animation: expandRing 2s ease-out forwards;
}

.rings.active .ring-yellow {
  animation-delay: 0s;
}
.rings.active .ring-red {
  animation-delay: 0.3s;
}
.rings.active .ring-blue {
  animation-delay: 0.6s;
}

@keyframes parpadeo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes expandRing {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(12);
    opacity: 0;
  }
}

/* ESTADO DE CARGA HOME */
.loading-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff1d1d;
  z-index: 10;
  animation: fadeIn 0.8s ease forwards;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(0, 191, 255, 0.2);
  border-top-color: #ff1d1d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}