.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

